body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3b5998;
    padding: 0.5rem 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white; 
    text-align: center;
    text-wrap: nowrap;
}

.product-detail {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.file-info {
    text-align: left;
    font-size: 0.9rem;
}

textarea {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
}

.history-grid {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.history-item {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 4px;
    transition: transform 0.3s;
    object-fit: cover;
}

.history-item:hover {
    transform: scale(1.05);
}

.pagination a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #3b5998;
    font-weight: bold;
}

.pagination a.active {
    color: #3b5998;
    pointer-events: none;
}

.pagination a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #3b5998;
}

form {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

input[type="file"] {
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.icon {
    width: 23.3px;
    position: relative;
    height: 35px;
    margin-right: 0.5rem;
}

.menu {
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.title {
    position: relative;
    line-height: 100%;
    font-weight: bold;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 120px;
}

.value {
    flex: 1;
    position: relative;
    line-height: 100%;
    font-size: 1rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 2rem;
}

.sign {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: right;
    margin-left: 75%;
    gap: 12px;
    font-size: 0.9rem;
}

.manual {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 1.6;
}

.manual h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #3b5998;
}

.logout-button {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #d32f2f;
}

a.home-link {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0.5rem 1rem;
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.home-link:hover {
    background-color: #2a4272;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.history {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.history h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #3b5998;
}

.comparison-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.comparison-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comparison-img {
    width: 300px;
    height: 300px;
    background-color: #ddd;
    border-radius: 8px;
    object-fit: contain;
}
.comparison-container p {
    font-size: 1rem;
    color: #3b5998;
    padding: 1rem;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    font-size: 1rem;
    text-align: left;
}

th, td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3b5998;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 0.5rem 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d32f2f;
}

.download-form{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

label {
    font-weight: bold;
    color: #3b5998;
    display: block;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.message {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #3b5998;
    background-color: #e9f0fb;
    color: #3b5998;
    border-radius: 4px;
    text-align: center;
}


