<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像変換詳細</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav class="header">
            <a href="{{ url_for('login.index', user_name = user_name) }}">

                <div class="logo">画像変換アプリ</div>
            </a>
            <div class="sign">
                <a href="{{ url_for('login.logout') }}">
                    <button class="button">Logout</button>
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="comparison-container">
            
            <div class="comparison-item">
                <p>変換前</p>
                <img src="{{ url_for('static', filename = 'img.png')}}" class="comparison-img">
            </div>
            <div class="comparison-item">

                {% if file_exists %}
                <p>変換後</p>
                <img src="{{ url_for('static', filename = 'output.png')}}" class="comparison-img">
                {% endif %}
            </div>
        </div>
        <section class="product-detail">



            <div class="file-info">
                <p>{{ img_name }}</p>
                <label for="transform-method">変換方法を選択</label>


                <!--画像変換-->
                <form action="/change/conv" method="POST">
                    <select id="transform-method" name="selected_option">
                        <option value="">選択してください</option>
                        <!-- 他のオプションを追加 -->
                        <option value="1">ネガポジ変換</option>
                        <option value="2">モザイク処理</option>
                        <option value="3">ガウシアンフィルタ</option>
                        <option value="4">二値化処理</option>
                        <option value="5">エッジ処理</option>
                        <option value="6">色彩処理</option>
                        <option value="7">左右反転処理</option>
                        <option value="8">スタンプ処理</option>
                        <option value="9">クレヨン</option>
                        <option value="10">ノイズ処理</option>
                        <option value="11">ヒートマップ</option>
                    </select>
                    <!-- モザイク強度入力 -->

                    <div id="mosaic-strength-container" style="display: none;">
                        <label for="mosaic-strength">モザイク強度</label>
                        <input type="number" id="mosaic-strength" name="mosaic_strength" min="1" value="10" required>
                    </div>
                    <!-- スタンプの設定入力 -->
                    <div id="stamp-options" style="display: none;">
                        <label for="stamp-choice">スタンプ種類:</label>
                        <select id="stamp-choice" name="stamp_choice">
                            <option value="">選択してください</option>
                            <option value="stamp1">ロケット</option>
                            <option value="stamp2">ふうせん</option>
                            <option value="stamp3">ほし</option>
                        </select>

                        <label for="stamp-strength">スタンプの大きさ:</label>
                        <input type="number" id="stamp-strength" name="stamp_strength" value="100" required>

                        <label for="stamp-x">X座標:</label>
                        <input type="number" id="stamp-x" name="stamp_x" value="50" required>

                        <label for="stamp-y">Y座標:</label>
                        <input type="number" id="stamp-y" name="stamp_y" value="50" required>
                    </div>

                    <button>変換</button>

                </form>

                <script>
                    // 入力フィールドの表示
                    const transformMethod = document.getElementById('transform-method');
                    const mosaicStrengthContainer = document.getElementById('mosaic-strength-container');
                    const stampOptions = document.getElementById('stamp-options');

                    transformMethod.addEventListener('change', function () {
                        if (transformMethod.value === '2') {
                            mosaicStrengthContainer.style.display = 'block';
                            stampOptions.style.display = 'none';
                        } else if (transformMethod.value === '8') {
                            stampOptions.style.display = 'block';
                            mosaicStrengthContainer.style.display = 'none';
                        } else {
                            mosaicStrengthContainer.style.display = 'none';
                            stampOptions.style.display = 'none';
                        }
                    });

                    // 入力検証とアラート表示
                    const transformForm = document.querySelector('form[action="/change/conv"]');
                    transformForm.addEventListener('submit', function (event) {
                        const selectedValue = document.getElementById('transform-method').value;

                        if (selectedValue === '') {
                            alert('変換方法を選択してください');
                            event.preventDefault(); // フォーム送信を中止
                        }

                        const stampChoiceValue = document.getElementById('stamp-choice').value;

                        // スタンプ選択時のみチェック
                        if (selectedValue === '8' && stampChoiceValue === '') {
                            alert('スタンプを選択してください');
                            event.preventDefault();
                        }
                    });
                </script>

                
                <!-- メッセージ表示 -->
                {% if message %}
                <div class="message">
                    <p>{{ message }}</p>
                </div>
                {% endif %}
            
                
                <!--ダウンロード-->
                <form action="/change/download" class="download-form" method="POST">
                    <button>保存</button>
                </form>
            </div>


            <!--のちに履歴作成する-->
        </section>
        <section class="history">
            <h2>履歴</h2>
            <div class="history-grid">
                {% if histories %}
                {% for history in histories %}
                <img src="data:image/png;base64,{{ history.image_data.decode('utf-8') }}" class="history-item">
                {% endfor %}
                {% else %}
                <div class="history-item"></div>
                <div class="history-item"></div>
                {% endif %}
            </div>
            <!-- ページネーション -->
            <div class="pagination">
                <!-- 前へボタン -->
                {% if page > 1 %}
                <a href="{{ url_for('change.change', user_name=user_name, page=page-1) }}">&laquo; 前へ</a>
                {% endif %}
                <!-- ページ番号 -->
                {% for p in range(1, total_pages + 1) %}
                <a href="{{ url_for('change.change', user_name=user_name, page=p) }}" {% if p == page %}class="active"{% endif %}>{{ p }}</a>
                {% endfor %}
                <!-- 次へボタン -->
                {% if total_pages > page %}
                <a href="{{ url_for('change.change', user_name=user_name, page=page+1) }}">次へ &raquo;</a>
                {% endif %}
            </div>
        </section>
    </main>
    <a href="{{ url_for('login.index', user_name = user_name) }}" class="home-link">ホームに戻る</a>
</body>

</html>